body {
  background-color: rgb(118, 159, 182) !important;
}

h1 {
  text-align: center;
  color: white;
  font-size: 100%;
  background-color: rgb(157, 187, 174);
  margin-bottom: 0%;
  margin-top: 0%;
  padding-bottom: 10px;
}
button {
  background-color: black;
  color: white;
}

.col-md-9 {
  color: white;
  background-color: black;
}
